html {
      padding-top: 55px;
      padding-bottom: 55px;
      background-color: #eee;
}

body {
  border: 1px solid rgba(100, 100, 100, 1);
  border-radius: 40px;
  background: linear-gradient(
    177deg,
    rgba(250, 242, 242, 0.4) 27%,
    rgba(255, 255, 255, 0.1) 74%
  );
  background-blend-mode: ;
  box-shadow: 0px 4px 80px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  max-width: 400px;
    padding: 25px;
    margin: 0 auto;
}
h3 {
  margin: 0;
  padding: 20px 0;
}

.warning {
    color: red;
}

.warning h3{
    text-decoration: underline;
}

.error {
    font-size: 120%;
    font-weight: bold;
}

.form input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }

.form .form-heading{
  margin-bottom: 15px;
}
